.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	height: 100%;
}

.dialogsItems {
	padding: 10px;
	background-color: rgb(88, 88, 255);
}

.item.active {
	color: gold;
}

.messages {
	padding: 10px;
}

.messagesWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.newMessage {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.textArea {
	box-sizing: border-box;
	align-self: center;
	width: 100%;
	margin-bottom: 2px;
}

.sendMessageButton {
	display: block;
	width: fit-content;
	
}