.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	height: 100%;
}

.dialogsItems {
	padding: 10px;
	background-color: rgb(88, 88, 255);
}

.item.active {
	color: gold;
}

.messages {
	padding: 10px;
}